.bodyBg
{
    background-image: url('../img/abrar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.bodyBg2
{
    background-image: url('../img/abrar.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}

.bgBlur
{
    backdrop-filter: blur(5px);
    background: rgba(186, 186, 186, 0.229);
}